@using Web.Models.Movies.Extensions
@model MovieIndex

@{
    ViewData["Title"] = "Home Page";
}


<form id="filter-form" asp-controller="Home" asp-action="Index" method="get">
    <button type="button" class="btn btn-primary" onclick="loadModal('Home', 'Create')">
        Add movie
    </button>

    <div>
        <input class="form-control" type="text" name="SearchTerm" value="@Model.Filter?.SearchTerm"
               placeholder="Find by title..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <div>
        <label for="genres-dropdown">Genre:</label>
        <select class="form-select" id="genres-dropdown" name="GenreName" asp-items="Model.Genres"
                onchange="this.form.submit()">
            <option value="">All</option>
        </select>
    </div>

    <div>
        <label for="start-price">Price from:</label>
        <input id="start-price" type="number" name="StartPrice" value="@Model.Filter?.StartPrice.ToString()" step="0.1"
               min="0" onblur="this.form.submit()" />
    </div>

    <div>
        <label for="end-price">Price to:</label>
        <input id="end-price" type="number" name="EndPrice" value="@Model.Filter?.EndPrice.ToString()" step="0.1"
               min="0" onblur="this.form.submit()" />
    </div>

    <div>
        <label>Sort:</label>
        <select name="SortColumn" asp-items="Model.SortColumns" onchange="this.form.submit()"></select>
        <select name="SortOrder" asp-items="Model.SortOrders" onchange="this.form.submit()"></select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(model => movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(model => movie.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => movie.Rating)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @(Model.PagingMetadata.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-all-route-data="@Model.ToPagingRouteValues()"
                   asp-route-pageNumber="@(Model.PagingMetadata.PageNumber - 1)">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>
        @for (var i = Model.PagingMetadata.StartPage; i <= Model.PagingMetadata.EndPage; i++)
        {
            <li class="page-item @(i == Model.PagingMetadata.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-all-route-data="@Model.ToPagingRouteValues()"
                       asp-route-pageNumber="@i">
                    @i
                </a>
            </li>
        }
        <li class="page-item @(Model.PagingMetadata.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-all-route-data="@Model.ToPagingRouteValues()"
                   asp-route-pageNumber="@(Model.PagingMetadata.PageNumber + 1)">
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
    </ul>
    <div>
        <label for="page-size-dropdown">Page size:</label>
        <select class="form-select" id="page-size-dropdown" form="filter-form" name="PageSize"
                asp-items="Model.PageSizes" onchange="document.getElementById('filter-form').submit()">
        </select>
    </div>
</div>

<div id="modal-placeholder"></div>

@section Scripts {
    <script src="~/js/modalManager.js"></script>
}